In [0]:
from google.colab import files
uploaded = files.upload()

Saving data_elonmusk.csv to data_elonmusk.csv

In [0]:
import pandas as pd
import datetime as dt

import calendar as cal
import matplotlib.pyplot as plt
data = pd.read_csv('data_elonmusk.csv', encoding= 'unicode_escape')

In [0]:
import numpy as np
from collections import Counter

In [0]:
data.head()

  row ID  ...      User
0   Row0  ...  elonmusk
1   Row1  ...  elonmusk
2   Row2  ...  elonmusk
3   Row3  ...  elonmusk
4   Row4  ...  elonmusk

[5 rows x 5 columns]

In [0]:
data['Time'] = pd.to_datetime(data['Time'])
data['Date'] = data['Time'].dt.date
data['Date'] = pd.to_datetime(data['Date'])

In [0]:
data.head()

  row ID  ...       Date
0   Row0  ... 2017-09-29
1   Row1  ... 2017-09-29
2   Row2  ... 2017-09-29
3   Row3  ... 2017-09-29
4   Row4  ... 2017-09-29

[5 rows x 6 columns]

In [0]:
data['month'] = data['Date'].dt.month

In [0]:
data.head()

  row ID                                              Tweet  ...       Date month
0   Row0  @MeltingIce Assuming max acceleration of 2 to ...  ... 2017-09-29     9
1   Row1  RT @SpaceX: BFR is capable of transporting sat...  ... 2017-09-29     9
2   Row2                                     @bigajm Yup :)  ... 2017-09-29     9
3   Row3                     Part 2 https://t.co/8Fvu57muhM  ... 2017-09-29     9
4   Row4  Fly to most places on Earth in under 30 mins a...  ... 2017-09-29     9

[5 rows x 7 columns]

In [0]:
cal.month_name[1]

'January'

In [0]:
 x = data.groupby(['month']).month.count()
print(x)

In [0]:
data.head()

In [0]:
my_list =x
x_arr = np.array(my_list)

In [0]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])


ax.bar(x['month'],x[])
plt.show()

In [0]:
month_list = data['month'].to_list()
month_name = []

In [0]:
for m in month:
  name = cal.month_name(m)
  month_name.append(name)

In [0]:
data['len_of_words'] = data.Tweet.apply(lambda x: len(str(x).split()))

In [0]:
data['tweet_len'] = data.Tweet.apply(lambda x:len(str(x)))

In [0]:
data['No_of_words'] = data.Tweet.apply(lambda x: (str(x).split()))

In [20]:
print(data['No_of_words'])

0       [@MeltingIce, Assuming, max, acceleration, of,...
1       [RT, @SpaceX:, BFR, is, capable, of, transport...
2                                      [@bigajm, Yup, :)]
3                      [Part, 2, https://t.co/8Fvu57muhM]
4       [Fly, to, most, places, on, Earth, in, under, ...
                              ...
3213    [@YOUSRC, Amos's, article, was, fair,, but, hi...
3214    [These, articles, in, Space, News, describe, w...
3215    [Was, misquoted, by, BBC, as, saying, Europe's...
3216    [Just, returned, from, a, trip, to, London, an...
3217    [RT, @Jon_Favreau:, My, Model, S, just, arrive...
Name: No_of_words, Length: 3218, dtype: object

In [24]:
word_count= data['No_of_words'].most_common()

AttributeError: ignored